
body {
  padding: 0px;
  font: 14px "Segoe UI";
  margin: 0px;
  display: inline;
}

a {
  color: #00B7FF;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 95%;
}
th{
  border: 1px solid black;
  text-align: left;
  padding: 8px;
  color: white;
  font-family: 'Segoe UI';
  background: black;
  
}
td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
/* Add a black background color to the top navigation */
.topnav {
  height: 70px;
  background-color: black;
  color: white;
  font-family: 'Segoe UI';
  width: 100%;
  opacity: 0.80;
  position: fixed;
  z-index: 50;
  text-align: center;
}


.Tablediv{
  margin:30px;
  margin-top: 150px;
  position: absolute;
  width: 100%;
}

.bottomBar {
  height: 60px;
  background-color: black;
  color: white;
  font-family: 'Segoe UI';
  width: 100%;
  opacity: 0.80;
  bottom: 0;
  z-index: 50;
  position: absolute;
  text-align: center
}